# Byte-compiled files
__pycache__/
test-suite/__pycache__
*.py[cod]
*.pyo
*.pyd
.pytest_cache

# IDE and editor settings
.vscode/
.idea/

# Allure results and report files
allure_reports/
allure-results/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db